#mathjax-dummy {
	 display: none;
}

.equation-editor {
	width: 100%;
	height: 100%;
	background: #f8ffee;
}

.equation-canvas {
	position: absolute;
	left: 80px;
	right: 80px;
	top: 80px;
	bottom: 0px;
    background: #eef8ff;
    font-size: 48px;
    z-index: 0;
    overflow: hidden;
}

.equation-canvas .token-input {
	position: absolute;
	background: rgba(255,255,255,0.6);
}

.symbol {
	position: absolute;
	z-index: 10;
}

.symbol.container {
	z-index: 5;
}

.symbol-content {
	position: absolute;
}

.symbol-content.sqrt {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.symbol-grab-region {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.handle {
	position: absolute;
	cursor: pointer;
	opacity: 0.5;
	display:none;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}

.symbol .symbol-resize.handle {
	right: -50px;
	bottom: -50px;

	background-image: url(../images/resize_spherical.png);
}

.symbol .symbol-move.handle {
	left: 50%;
	margin-left: -25px;
	bottom: -50px;

	background-image: url(../images/move_spherical.png);
}

.symbol .symbol-delete.handle {
	left: 100%;
	bottom: 100%;

	background-image: url(../images/close_spherical.png);
}

.symbol.selected.allowMoveHandle .symbol-move.handle {
	display: block;
}

.symbol.selected.allowResizeHandle .symbol-resize.handle {
	display: block;
}

.symbol.selected.allowDeleteHandle .symbol-delete.handle {
	display: block;
}

.symbol .selection-outline {
	position: absolute;
	left: -5px;
	top: -5px;
	right: -5px;
	bottom: -5px;
	border: 1px dashed #800;
}

.selection-box
{
	position:absolute;
	border: 1px solid #00c;
	background: rgba(0,0,255,0.1);
}

ul.symbol-menu {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.symbol-menu li {
	display: block;
}
.symbol-button {
	position: absolute;
	cursor: pointer;
/*	border: 1px solid #850;
	border-bottom: none;*/
}

.symbol-button:last-child {
/*	border-bottom: 1px solid #850;*/
}