#mathjax-dummy {
	 display: none;
}

.equation-editor {
	width: 100%;
	height: 100%;
	background: #f8ffee;
}

.equation-canvas {
	position: absolute;
	left: 120px;
	right: 120px;
	top: 120px;
	bottom: 0px;
    background: #eef8ff;
    font-size: 48px;
    z-index: 0;
    overflow: hidden;
}

.equation-canvas .token-input {
	position: absolute;
	background: rgba(255,255,255,0.6);
}

.symbol {
	position: absolute;
	cursor: pointer;
	z-index: 10;
}

.symbol.container {
	z-index: 5;
}

.symbol-content {
	position: absolute;
}

.symbol-content.sqrt {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.handle {
	position: absolute;
	cursor: pointer;
	opacity: 0.5;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	z-index: 20;
}

.resize.handle {
	right: -50px;
	bottom: -50px;

	background-image: url(../images/resize_spherical.png);
}

.move.handle {
	left: 50%;
	margin-left: -25px;
	bottom: -50px;

	background-image: url(../images/move_spherical.png);
}

.delete.handle {
	left: 100%;
	bottom: 100%;

	background-image: url(../images/close_spherical.png);
}

.symbol .selection-outline {
	display: none;
	position: absolute;
	left: -5px;
	top: -5px;
	right: -5px;
	bottom: -5px;
	border: 1px dashed rgba(128,0,0,0.2);
}

.symbol.selected {
	color: #00d;
}

.symbol.selected .selection-outline {
	display: block;
}

.lasso-box
{
	position:absolute;
	border: 1px solid #00c;
	background: rgba(200,200,255,0.1);
}

.selection-box
{
	position: absolute;
	border: 1px dashed #800;
}

.symbol-menu {
	position: absolute;
	background: #ced8df;
	border: 1px solid #bec8cf;
}

.symbol-menu .list-container {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


.symbol-menu ul {
	position: absolute;
	list-style-type: none;
	padding: 0;
	margin: 0;
	line-height:0;
	font-size:0;
}

.symbol-menu ul:not(.scrolling) {
	-webkit-transition: top 0.2s ease-out, left 0.2s ease-out;
	transition: top 0.2s ease-out, left 0.2s ease-out;
}

.symbol-menu.vertical ul {
	width: 100%;
}

.symbol-menu.horizontal ul {
	height: 100%;
}

.symbol-menu li {
	display:inline-block;
	position: relative;
	cursor: pointer;
	margin: -0.5px;
	padding: 0;
}


.symbol-menu.vertical li {
	width: 100%;
}

.symbol-menu.horizontal li {
	height: 100%;
}

.submenu {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
}

.submenu-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 10000px;
	height: 10000px;
	opacity: 0;
}

.mode {
	position: absolute;
	top: 0px;
	width: 80px;
	height: 80px;
	background-size: 50px 50px;
	background-position: center;
	background-repeat: no-repeat;
	border: 1px solid #bec8cf;
	cursor: pointer;
	opacity: 0.2;
}

.mode.pan {
	right: 0px;
	background-image: url(../images/move_black.png);
}

.mode.lasso {
	left: 0px;
	background-image: url(../images/select.png);
}

.mode.selected {
	opacity: 1;
}