#canvas
{
    position:absolute;
    left: 10px;
    width: 500px;
    top: 100px;
    height: 500px;
    background: #eef8ff;
    border-radius: 10px;
    border: 1px solid #455;
    font: 28px serif;
}

#output
{
    position: absolute;
    left: 630px;
    top: 100px;
    width: 500px;
    height: 500px;
    background: #f8ffee;
    border-radius: 10px;
    border: 1px solid #545;
    font-size: 200%;
    overflow: auto;
}

.parse
{
    position: absolute;
    left: 520px;
    top: 100px;
    width: 100px;
    height: 100px;
}

.symbol
{
    position:absolute;
    background: transparent;
    border: 1px dotted rgba(0,0,0,0.3);
    cursor: pointer;
}
.symbol.selected
{
    border: 1px solid rgba(0,0,0,0.8);
}

.frac {
    background-color: #333;
}

input
{

}

div {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}