#canvas
{
    position:absolute;
    left: 10px;
    width: 500px;
    top: 100px;
    height: 500px;
    background: #eef8ff;
    border-radius: 10px;
    border: 1px solid #455;
    font: 28px serif;
}

#output
{
    position: absolute;
    left: 630px;
    top: 100px;
    width: 500px;
    height: 500px;
    background: #f8ffee;
    border-radius: 10px;
    border: 1px solid #545;
    font-size: 200%;
    overflow: auto;
}

.parse
{
    position: absolute;
    left: 520px;
    top: 100px;
    width: 100px;
    height: 100px;
}

.symbol
{
    position:absolute;
    background: transparent;
    border: 1px dotted rgba(0,0,0,0.0);
    cursor: pointer;
    /*overflow: hidden;*/
	z-index: 10;
}
.symbol.selected
{
    outline: 1px dotted rgba(180,0,0,0.8);
}

.contentOuter
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	overflow: hidden;
}

.symbol.unused
{
	color: red;
}

.symbol.overlap
{
	color: #008;
}

.frac {
    background-color: #000;
	z-index: 0;
	overflow: visible;
}

.frac.unused
{
	background-color: #f00;
}

.frac.overlap
{
	background-color: #008;
}

.fracBackground
{
	position: absolute;
	width: 100%;
}

.selected .handle
{
	position: absolute;
	right: -2px;
	bottom: -2px;
	width: 10px;
	height: 10px;
	background-image: url(/images/resize.png);
	background-size: contain;
}

.frac.selected .handle
{
	position: absolute;
	right: -10px;
	bottom: -10px;
	width: 10px;
	height: 10px;
	background-image: url(/images/resize.png);
	background-size: contain;
}

input
{
	border: none;
}

.groupBox
{
	position:absolute;
	border: 1px solid #00c;
	background: rgba(0,0,255,0.1);
}

* {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}